/* TIMEAPP STYLE */

/* GENERAL STYLES */
html{
  height:100%;
}

body{
  margin:0;
  padding:0;
  height:100%;
  font-family:'Nunito', sans-serif;
  font-size:16px;
}

*{
  box-sizing:border-box;
}

div.inner{
  width:90%;
  max-width:1280px;
  margin:0 auto;
}

section.page{
  width:90%;
  max-width:1280px;
  margin:0 auto;
  padding-top:82px;
}

/* page_header */
header.page_header{
  background: #283E51;  /* fallback for old browsers */
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:999999999;
}

header.page_header:after{
  content:'';
  display:table;
  clear:both;
}

header.page_header img.logo{
  height:30px;
  float:left;
  margin:26px 0px;
}

header.page_header nav{
  float:left;
  margin-left:40px;
}

header.page_header nav ul{
  list-style:none;
  color:#fff;
  margin:0;
  padding:0;
  font-size:0;
}

header.page_header nav ul li{
  display:inline-block;
}

header.page_header nav ul li a{
  text-decoration:none;
  color:#fff;
  padding:0px 20px;
  display:inline-block;
  line-height:82px;
  transition:0.1s;
  font-size:1rem;
  border-right:1px solid transparent;
  border-left:1px solid transparent;
}

header.page_header nav ul li a:hover{
  background:#395873;
  transition:0.1s;
}

header.page_header nav ul li.active a{
  background:#395873;
  border-right:1px solid rgba(255,255,255,0.4);
  border-left:1px solid rgba(255,255,255,0.4);
}

header.page_header div.user{
  background:rgba(0,0,0,0.3);
  font-size:1rem;
  line-height:82px;
  padding:0px 20px;
  border-left:1px solid #fff;
  border-right:1px solid #fff;
  float:right;
  color:#fff;
  cursor:pointer;
  position:relative;
}

header.page_header div.user i{
  margin-left:10px;
}

header.page_header div.user div.drop{
  position:absolute;
  top:100%;
  left:-1px;
  right:-1px;
  z-index:999999;
  background:#fff;
  border-right:1px solid #353535;
  border-left:1px solid #353535;
  border-bottom:1px solid #353535;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  box-shadow:0px 0px 20px rgba(0,0,0,0.2);
  display:none;
}

header.page_header div.user:hover div.drop{
  display:block;
}

header.page_header div.user div.drop ul{
  margin:0;
  padding:0;
}

header.page_header div.user div.drop ul li{
  line-height:1;
  display:block;
}

header.page_header div.user div.drop ul li a{
  color:#353535;
  text-decoration:none;
  padding:20px;
  display:block;
  transition:0.1s;
}

header.page_header div.user div.drop ul li a:hover{
  background:rgba(0,0,0,0.2);
  transition:0.1s;
}

/* CONTENT STYLES */
header.content_header{
  border-bottom:2px solid #353535;
  margin-top:50px;
  padding-bottom:20px;
}

header.content_header h1{
  color:#353535;
  margin:0;
  padding:0;
  font-size:2em;
}

header.content_header h1 a{
  color:#fff;
  float:right;
  position:relative;
  top:2px;
  font-size:0.5em;
  text-decoration:none;
  background:#395873;
  padding:10px 15px;
  border-radius:5px;
  font-weight:normal;
  transition:0.1s;
  margin-right:20px;
}

header.content_header h1 a:last-child{
  margin-right:0;
}

header.content_header h1 a:hover{
  background:#283E51;
  transition:0.1s;
}

header.content_header h1 a.delete{
  color:#fff;
  float:right;
  position:relative;
  top:2px;
  font-size:0.5em;
  text-decoration:none;
  background:#E61D35;
  padding:10px 15px;
  border-radius:5px;
  font-weight:normal;
  transition:0.1s;
  cursor:pointer;
}

header.content_header h1 a.delete:hover{
  background:#b8172a;
  transition:0.1s;
}

header.content_header h1 a i{
  position:relative;
  top:1px;
  margin-left:10px;
}

/* the new whatever form */
section.content form.new{
  width:100%;
  margin-top:20px;
}

section.content form.new input,
section.content form.new textarea{
  display:block;
  margin-top:20px;
  font-family:'Nunito', sans-serif;
}

section.content form.new input[type="text"],
section.content form.new textarea{
  width:100%;
  padding:20px;
  border-radius:5px;
  border:1px solid #c0c0c0;
  outline:none;
}

section.content form.new input[type="text"]:focus,
section.content form.new textarea:focus{
  border:1px solid #353535;
}

section.content form.new select#status{
  width:100%;
  padding:20px;
  background:#fff;
  border-radius:5px;
  border:1px solid #c0c0c0;
  margin-top:20px;
  color:#7f7f7f;
  outline:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

section.content form.new select#status:focus{
  border:1px solid #353535;
  outline:none;
  color:#353535;
}

.select_wrap{
  position:relative;
}

.select_wrap:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #7f7f7f;
    top:20px;
    right:0;
    padding:0px 20px;
    height: 57px;
    line-height:57px;
    position: absolute;
    pointer-events: none;
}

section.content form.new input#submit{
  background:#557ab2;
  border:none;
  outline:none;
  color:#fff;
  padding:20px;
  border-radius:5px;
  cursor:pointer;
}

section.content div.add{
  padding:20px;
  color:#000;
  background:#82be42;
  border-radius:5px;
  border:1px solid #000;
  margin-top:20px;
}

section.content div.add i{
  float:right;
  font-size:2em;
  position:relative;
  top:-5px;
  cursor:pointer;
}

section.content div.delete{
  padding:20px;
  color:#000;
  background:#E61D35;
  border-radius:5px;
  border:1px solid #000;
  margin-top:20px;
}

section.content div.delete i{
  float:right;
  font-size:2em;
  position:relative;
  top:-5px;
  cursor:pointer;
}

section.content h2{
  margin:50px 0px 10px 0px;
  border-bottom:2px solid #353535;
  padding-bottom:10px;
}

section.content table{
  width:100%;
  border-spacing:0;
}

section.content table tr td{
  padding:20px;
}

section.content table tr.alt td{
  background:#d9d9d9;
}

section.content table tr th{
  text-align:left;
  padding:0px 0px 10px 20px;
  border-bottom:2px solid #353535;
}

section.content table tr td a{
  color:#353535;
  font-size:1.2em;
  margin-right:20px;
}

section.content table tr td a.single{
  font-size:1em;
  margin-right:0;
  color:#000;
  text-decoration:none;
}

section.content table tr td i{
  color:#353535;
  font-size:1.2em;
  cursor:pointer;
}

section.content table tr td a:last-child{
  margin-right:0;
}

section.content table tr td.actions{
  position:relative;
}
section.content table tr td.actions div.confirm{
  position:absolute;
  background:#fff;
  width:180px;
  padding:15px;
  border:1px solid #353535;
  border-radius:5px;
  font-size:0.8em;
  left:-22px;
  top:85%;
  box-shadow:0px 0px 20px rgba(0,0,0,0.2);
  z-index:999;
  display:none;
}

section.content table tr td.actions div.confirm:after{
  content:'';
  display:table;
  clear:both;
}

section.content table tr td.actions div.confirm:before {
    content: '\f0d8';
    font: normal normal normal 17px/1 FontAwesome;
    color: #fff;
    top:-13px;
    left:50%;
    transform:translateX(-50%) scale(2);
    position: absolute;
    pointer-events: none;
    z-index:9999;
}

section.content table tr td.actions div.confirm p{
  margin:0px 0px 10px 0px;
}

section.content table tr td.actions div.confirm a{
  display:inline-block;
  padding:10px;
  background:#E61D35;
  color:#fff;
  width:45%;
  margin-right:0;
  text-align:center;
  border-radius:5px;
  cursor:pointer;
  transition:0.1s;
  text-decoration:none;
}

section.content table tr td.actions div.confirm a.yes{
  float:left;
}

section.content table tr td.actions div.confirm a.yes:hover{
  background:#b8172a;
  transition:0.1s;
}

section.content table tr td.actions div.confirm a.no{
  float:right;
  background:#c0c0c0;
  color:#353535;
}

section.content table tr td.actions div.confirm a.no:hover{
  background:#999999;
  transition:0.1s;
}

/* FOOTER STYLING */
footer.page_footer{
  padding:20px 0px;
  margin-top:40px;
  background: #283E51;
  color:#fff;
}
